@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    transition: 0.5s;
    /* por enquanto */
}

body,
html {
    background-color: #000000;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {

}
