@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
@media screen and (min-width: 993px) {

/* header */
/* logo */
header {
    background-color: black;
}

#logo-header {
    margin: 0.5% 0 0 5%;
    height: 100px;
}

/* Menu */
#itens {
    position: absolute;
    top: 75px;
    left: 18%;
    text-align: center;
}

#itens li{
    display: inline;
    margin: 10px;
    text-align: center;
}

#itens a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 2px;
    background: #ffae42;
    padding: 3px 55px 3px 55px;
    text-align: center;
} 

#itens a:hover {
    color: #ffae42;
    background: #000000;
}
}


/* MOBILE and Tablet*/
@media screen and (min-width: 250px) and (max-width: 992px) {
   
    /* header */
    /* logo */
    header {
        background-color: black;
    }

    #logo-header {
        margin: 0.5% 0 0 5%;
        height: 100px;
    }

/* menu MOBILE and Tablet*/

    header>div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding: 5px;
    
    }
     .material-icons{
        background-color: #ffae42;
        border-radius: 10%;
        padding-top: 14px;
        padding-left: 13px;
        width: 51px;
        height: 53px;
        cursor: pointer;
        margin-right: 5px;
        margin-bottom: -50px;
    } 
    .material-icons:hover{
        background-color: #fabf72;
        cursor: pointer;     
    }
    .material-icons:active{
        background-color: #f08800;
        color: #000000;
    }
    menu {
        display: none;
    }
    menu>ul {
        list-style-type: none;
    }
    menu>ul>li>a {
        display: block;
        padding: 10px;
        border-top: 1px black solid;
        text-decoration: none;
        background-color: #ffae42;
        color: black;
        text-align: center;
        font-size: 1.2em;
    }
    menu>ul>li>a:hover{
        background-color: #fabf72;
    }
    menu>ul>li>a:active{
        background-color: #f08800;
        color: #000000;
    }

}

/* TABLET */
@media screen and (min-width: 780px) and (max-width: 992px) {}



@media screen and (min-width: 994px) and (max-width: 1272px) {
    /*Correção responsiva*/

    /*Diminuindo o tamanho do menu*/

    #itens a {
        font-size: 15px;
        padding: 3px 25px 3px 25px;
    } 

    #itens {
        left: 25%;
    }

}




